html{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    background-color: #595859;
    color: white;
    padding: 30px 0;
    text-align: center;
}
body {
    background-color: white;
}

.box-container {
    display: flex;
    padding-top: 150px;
    padding-left: 550px;
    padding-bottom: 50px;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.end{
    size : 50px;
    display:block;
    align-self: center;
    padding-left: 550px;
    padding-bottom: 50px;
}
